@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

:root {
  --font-text: 'Permanent Marker', cursive;
  --font-text2: 'Bruno Ace', cursive;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  font-family: var(--font-text2);
}

/* Video Background */
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Container */
.container {
  max-width: 580px;
  min-height: 304px;
  color: black;
  margin: 0 auto;
  padding: 0 50px 25px 50px;
  border-radius: 25px;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: inset 5px -5px 50px 5px rgba(137, 88, 88, 0.5);
}

.input-container {
  position: relative;
  top: 10px;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Form */
.form {
  text-align: center;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  
}

input {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fff;
  outline: none;
  font-family: var(--font-text);
  letter-spacing: 2px;
  text-align: center;
}

input:hover {
  cursor: pointer;
}

/* Button */
button {
  width: 95%;
  height: 40px;
  border-radius: 20px;
  margin: 15px;
  border: none;
  text-transform: uppercase;
  background: #006959;
  color: white;
  cursor: pointer;
  outline: none;
  font-family: var(--font-text2);
}

button:hover {
  filter: brightness(1.5);
  letter-spacing: 2px;
  transform: scaley(1.35) scaleX(0.85);
}

/* Countdown */
ul {
  margin-left: -45px;
}

li {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: var(--font-text);
}

li span {
  display: block;
  font-size: 80px;
  text-align: center;
  font-family: var(--font-text2);
}

/* Complete */
.complete {
  position: relative;
  top: 60px;
}

.complete-title {
  animation: complete 4s infinite;
}

@keyframes complete {
  0% {
    color: rgb(206, 38, 38);
}

  25% {
    color: rgb(188, 188, 18);
    letter-spacing: 3px;
  }

  50% {
    color: rgb(29, 188, 29);
    transform: scale(1.25);
    letter-spacing: 6px;
  }

  75% {
    color: rgb(34, 34, 202);
    letter-spacing: 3px;
  }

  100% {
    color: rgb(187, 36, 187);
}

}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 720px) {
  video {
    object-fit: cover;
    object-position: 70%;
    margin-top: -1px;
  }

  .container {
    min-width: 70vw;
    max-width: 580px;
    min-height: 245px;
    padding: 20px;
    margin: 10vw;
  }

  .input-container {
    top: unset;
  }

  .countdown {
    position: relative;
    top: 10px;
  }

  .form {
    width: unset;
  }

  input {
    width: 93%;
  }

  h1 {
    font-size: 25px;
  }

  li {
    font-size: 15px;
  }

  li span {
    font-size: 40px;
  }
}
